<h2>Riots</h2>



<ul>
  <% @riots.each do |riot| %>
    <li>
      <%= riot.city_state %>
    </li>
    <li>
      <%= riot.year %>
    </li>
    <li>
      <%= riot.num_arrested %>
    </li>
  <% end %>
</ul>