	

<form>
	<input type="text" placeholder="e.g. 1950" class="year_data">
	<input type="submit" name="Submit" class="find_year">
</form>
<button class="generate-data">Show it all</button>



	<div class="map-container">
  		
  	</div>

  	<div class="data-container"></div>
