<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Race Riot</title>

</head>
<body>

<!-- HTML FOR WEBPAGE  -->

  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="cb_360.png" height="55" width="55" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#map">Visualization</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">I AM</h1>
        <h1 class="header center white-text">LESS THAN MAP</h1>

        <div class="row center">
          <a href=".map-container">Show me the map</a>
        </div>
        <br><br>

      </div>
    </div>

    <div class="parallax">
      <video autoplay loop poster="riot-police-sarajevo.jpg" id="bgvid">
      <source src="/assets/movie.mp4" type="video/mp4">
      </video>
    </div>
    </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Data That Matters</h5>

            <p class="light">We believe context is critical, especially within the confines of the social and political circumstances of our time. Here we try to capture some of that context through historical data and presenting that information in a potentially meaningful way.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Raise Awareness</h5>

            <p class="light">Amid various lenses through which the media represents information, specifically their coverage of events involving racial tension, we want to present data and let it speak for itself.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">There Is Work To Be Done</h5>

            <p class="light">We have begun the process of compiling this information, but a visualization is only as good and as accurate as its data. In that vein, we welcome your participation in this process by signing up and contributing data on a recent or past event. </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="map-section">
    <div class="action-section">

			<form>
				<input type="text" placeholder="e.g. 1950" class="year_data">
        <button class="btn waves-effect waves-light find_year" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i>
        </button>

			</form>
      <a class="waves-effect waves-light btn generate-data">Show it all</a>
      <a name="map"></a>
    	<form>
				<input type="text" name="before_year" class="before_year" placeholder="Before Year">
        <a class="waves-effect waves-light btn submit_before_year">Display</a>
			</form>

      <form>
        <input type="text" name="after_year" class="after_year" placeholder="After Year">

        <a class="waves-effect waves-light btn submit_after_year">Display</a>

      </form>

			<div class="map-container">
			</div>

			<div class="data-container1">
			</div>
			<div class="data-container2">
			</div>


    </div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" "light-blue darken-4">
      Made by Charlie Brown</a>
      </div>
    </div>
  </footer>

  </body>
</html>
