// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 16px;
}

.land {


 	fill: rgb(95, 135, 160);
  	stroke: black;

 	fill: rgb(51, 89, 53);
  	stroke: white;

}

.state {
  	fill: none;
  	stroke: white;
}


/*@-webkit-keyframes paintbackground {
  0%{
    fill: red;
  }
  50%{
    fill: blue;
  }
  100%{
    fill: red;
  }
}*/

.map-section {
  padding: 20px;
  margin: 20px 60px;
  width: 100%;
  overflow: auto;
}

.map-container {
  width: 100%;
  margin: 0 auto;
  text-align: center!important;
  padding: 10px;
  overflow: auto;

}

.data-container1, .data-container2 {
    height: 15rem;
    width: 48%;
    margin: 20px auto;
    padding: 1em;
    overflow: auto;
    background-color: rgb(201, 201, 201);
    border-radius: 3px;
    display: inline-block;
    font-family: Sans-serif;
  
    div {
    width: 100%;
    overflow: auto;
      
    }


    p.city-info, div.text {
        text-shadow: 2px 2px darkgrey;
        font-size: large;
        font-weight: 600;
    }

  }

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(riot-police-sarajevo.jpg) no-repeat;
  background-size: cover;
}
