// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 16px;
}

svg {
  display: inline-block;
  float: left;
}

.land {
 	
 	fill: rgb(51, 89, 53);
  	stroke: white;

}

.state {
  	fill: none;
  	stroke: white;
}


/*@-webkit-keyframes paintbackground {
  0%{
    fill: red;
  }
  50%{
    fill: blue;
  }
  100%{
    fill: red;
  }
}*/

.map-container {
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  text-align: center!important;

}

.data-container {
    height: 15rem;
    width: 90%;
    margin: 20px auto;
    padding: 1em;
    overflow: auto;
    border: 2px solid black;
  }

  .data-points {
  background-color: lightblue;
  color: white;
  position: relative;
  }
